* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 300px;
  width: 250px;
  background-color: #1a1a1a;
  color: white;
  font-size: 0.925rem;
}

a {
  color: #ff3d00;
}

h1 {
  font-size: 1.65rem;
}
h3 {
  font-size: 1.025rem;
}

input,
select {
  font-size: 0.95rem;
  display: block;
  /* margin-top: 0.35rem; */
}

.cta-button {
  background-color: transparent;
  border: 2px solid white;
  color: #ff3d00;
  font-size: 0.9rem;
  font-weight: 600;
  display: inline flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.3rem 0.5rem;
  word-break: keep-all;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in-out;
  user-select: none;
}
.cta-button:enabled:hover {
  background-color: white;
  box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.7);
}
.cta-button:disabled {
  border: none;
}
.cta-button:disabled:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.556);
  border-radius: 0.25rem;
  border: 2px solid rgba(128, 128, 128, 0.556);
  cursor: not-allowed;
}
button:disabled > img::before {
  background-color: gray;
}

.hidden {
  display: none !important;
}

.gcal-icon {
  height: 1.15rem;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  flex-direction: column;
  align-items: center;
}

.button {
  display: inline-block;
  padding: .75rem 0;
  background-color: transparent;
  border-radius: .5rem;
}

.button:enabled:hover {
  cursor: pointer;
}

.button:disabled  {
  border: 2px solid gray !important;
  color: gray !important;
}

.button:disabled:hover {
  cursor: not-allowed;
}

.success-confirmation {
  color: green;
}

.failed-confirmation {
  color: maroon;
}

.neutral-text {
  color: rgb(214, 212, 212);
}

#delete-calendar {
  border: 2px solid red;
  color: red;
  /* width: 40%; */
}
#delete-calendar:hover {
  background-color: red;
  color: white;
}

#update-calendar {
  border: 2px solid #008CBA;
  color: #008CBA;
} 

#update-calendar:enabled:hover {
  background-color: #008CBA;
  color: white;
}

#button-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  gap: .75rem 0;
}

#button-group > p {
  text-align: center;
}

#share-input-group {
  border-radius: .5rem;
  overflow: clip;
  border: 2px solid white;
  height: 2.5rem;
}

#share-to-gmail {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  height: 100%;
  margin-left: .5rem;
}

#share-button {
  background-color: transparent;
  border: none;
  border-left: 2px solid white;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#share-button:hover {
  background-color: white;
}

#share-button > svg {
  width: 100%;
  height: auto;
  fill: white;
  transition: all 0.1s ease-in-out;
  vertical-align: middle;
}

#share-button:hover > svg {
  fill: #1a1a1a;
}

#share-cal-success, #share-cal-failed {
  margin-top: .5rem;
}


#instruction-page {
  padding: 1rem;
}

#calendar-made-page {
  padding: 1rem;
  justify-content: center;
  gap: 1rem;
}

#refresh-time-elapsed-container {
  margin: -0.5rem 0;
  width: 75%;
}

#add-user {
  display: flex;
  text-align: start;
  justify-content: flex-start;
  flex-direction: column;
}

#add-user > div {
  display: flex;
}

#add-user > label {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

#form-page {
  gap: 0.75rem;
  padding: 0.5rem;

  label {
    display: block;
  }

  .form__inner {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}

#loader-page {
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
